* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.menu_bar {
  background-color: antiquewhite;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.menu_bar ul {
  list-style: none;
  display: flex;
}
.menu_bar ul li {
  padding: 10px 30px;
}
.menu_bar ul li a {
  text-decoration: none;
  color: rgb(69, 90, 109);
  font-size: 20px;
  transition: all 0.3s;
}
.menu_bar ul li a:hover {
  color: rgb(209, 101, 28);
  font-size: 22px;
}
.menu_bar_h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: rgb(175, 135, 86);
  transition: all 0.3s;
}
.menu_bar_h1 span {
  color: rgb(22, 17, 10);
  transition: all 0.3s;
}
.menu_bar_h1:hover {
  color: yellowgreen;
}
.menu_bar_h1 span:hover {
  color: rgb(184, 202, 202);
}
